
/* font style*/ 

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */ 
    font-style: normal;
  }
  

  /* Shared styles */ 

  .btn-primary{
      font-size: 20px;
      font-weight: 600;
      color: #0D1321;
      padding: 17px 24px;
      border-radius: 8px;
      border: 2px solid #0D1321; 
      background-color: transparent;
  }
  .btn-secondary{
      font-size: 20px;
      font-weight: 600;
      position: bottom left;
      padding: 10px 20px;
      background-color: white;
      border: 1px solid rgba(13, 19, 33, 1.00);
  }
  .ms1-box-design{
      padding: 48px 48px; 
      display: flex;
      align-items: center;
      border-radius: 16px;
      background-color: #FFFFFF;
      margin: 32px;
      box-sizing: 0 4px 8px rgba(13, 19, 33, 0.10);
  }
  .ms1-box-content{
      padding: 10px;
  }
  .ms1-para-design{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 24px;
  }
  .ms1-box24-heading{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
  .section234-title{
      font-size: 32px;
      font-weight: 900;
      padding: 0 144px 24px 144px;
  }
  .section234-para{
      font-size: 16px;
      font-weight: 400;
      max-width: 852px;
      padding: 0 144px 48px 144px;
  }
  

  /* styles of heading section */ 

  header{
    width: 100%; background-color: #FFFFFF;
  }
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 100px; 
  }
  .nav-title{
      font-weight: 800px;
      font-size: 28px;
  }
  nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li{

     margin-left: 20px;
  }
  

  /* Banner content design */ 
  
  .banner{
      background-image: url("images/Hero-bg.png"); 
      background-size: cover; 
      background-position: center; 
      display: flex; 
      justify-content: center; 
      height: 652px;
      width: 1440;
      padding: 0 20px;
  }
  .hero-section{
      max-width: 998px;
      text-align: center;
  }
  .content-img{
      height: 240.28px;
      width: 240px;
      margin-bottom: 20px;
  }
  .banner-content{
      width: 100%;
  }
  .content-heading{
      font-size: 48px;
      font-weight: 900;
      margin-bottom: 20px;
  }
  .content-para{
      font-size: 16px;
      font-weight: 400; 
      max-width: 700px;
      margin: 0 auto 20px auto;
  }
  .content-btn{
      border-radius: 8px;
      background-color: #0D1321;
      height: 65px;
      width: 244px;
      font-size: 20px;
      font-weight: 600;
      color: #FFFFFF;
      border: none;
  }
  

  /* Main section1 design */ 
  .main-section1{
    max-width: 1140px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px 152px 88px 148px;
    padding: 80px 97px; 
    border-radius: 16px;
}
/* Main section1 box1 design */ 
.main-sec1-box1{
    text-align: center;
    margin-bottom: 48px;
}
.ms1b1-heading{
    font-size: 32px;
    font-weight: 900;
    height: 39px;
}
.ms1b1-para{
    font-size: 16px;
    font-weight: 400;
    max-width: 852px;
}
/* main section1 box2 design */ 
.ms1-box2-content{
    justify-content: space-between;
}
.ms1-box2-image{
    width: 274.17px;
    height: 240px;
    text-align: right;
}
/* main section1 box3 design */ 
.ms1-box3-image{
    max-width: 100%;
    text-align: right;
    border-radius: 16px;
}
.ms1-box3-content{
    padding: 10px 101px 10px 32px;
}
.ms1-box3-heading{
    max-width: 477px;
    height: 72px;
    font-size: 24px;
    font-weight: 700;
}
/* main section1 box4 design */ 
.ms1-box4-content{
    justify-content: space-between;
}
.ms1-box4-image{
    max-width: 100%;
    text-align: right;
    border-radius: 16px;
}


  /* Main section 2 design */ 
  .main-section2{
    text-align: center;
    margin: 0 152px 151px 148px;
}
.section2-video{
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(13, 19, 33, 0.20);
    background: white;
    padding: 32px;
}
.youtube-video{
    width: 100%;
    height: 550px;
    border: none;
    border-radius: 16px;
}


  /* Main section 3 design */ 
  .main-section3{
    text-align: center;
    margin: 151px 150px 111px 150px;
    max-width: 1140px;
    height: 460px;
}
.section3-box-design{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    text-align: left;
}
.section3-box1{
    padding: 40px 40px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
}
.section3-box2{
    padding: 40px 40px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}
.section3-box3{
    padding: 40px 40px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
}
.ms3-learnmore{
  color: rgba(13, 19, 33, 1.00);
  font-weight: 700px;
  font-size: 16px;
  border: none;
}


  /* Main Section 4 design */ 

  .main-section4{
    max-width: 1140px;
    height: 866px;
    text-align: center;
    margin: 111px 150px 49px 150px;
}
.section4-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 40px;
    margin-bottom: 24px;
    max-width: 1060px;
    height: 139px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}
.section4-images{
    height: 108px;
    max-width: 94.78px;
    margin-right: 24px;
}
.section4-nodejsimage{
    gap: 44px;
}
.section4-content{
    text-align: left;
    color: rgba(13, 19, 33, 1.00);
}
.section4-content h3{
    margin: 0;
    font-size: 24px;
    font-weight: 700px;
}
.section4-content p{
    margin: 10px 0; 
    font-size: 16px;
    font-weight: 400px; 
}
.learn-more{
    font-size: 16px;
    font-weight: 700px;
    margin-top: 24px;
    color: rgba(13, 19, 33, 1.00);

}

  /* Mains section5 design */ 

  .main-section5{
    background-image: url("images/handshake.jpg");
    max-width: 1140px;
    height: 414px;
    margin: 41px 150px 79px 150px;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.20);
    background-position: center;
    background-size: cover;
}
.ms5-heading{
    padding: 64px 0 16px 424px;
    text-align: left; 
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 292px;
    height: 36px;
}
.ms5-para{
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    padding: 0 267px 24px 267px;
    max-width: 606px;
    height: 52px;
    color: #FFFFFF;
}
.ms5-inputfield{
    display: flex;
    gap: 16px;
    padding-left: 228px;
    height: 58px;
}
.message-box{
    width: 548px;
    height: 58px;
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    padding: 10px; 
    font-size: 16px;
    color: rgba(13, 19, 33, 0.40);
}
.submit-btn{
    border-radius: 8px;
    width: 120px;
    height: 58px;
    background-color: white; 
    border: none;
    font-size: 20px;
    font-weight: 700px;
    color: rgba(13, 19, 33, 1.00);
    text-align: center;
}

  /* footer design */ 
.footer{
    max-width: 1140px;
    height: 36px;
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
}
.footer-heading{
    font-size: 20px;
    font-weight: 600px;
    color: rgba(13, 19, 33, 1.00);
    padding: 6px 0 6px 0;
}
.footer-image{
    max-width: 157.01px;
    height: 36px;
}